.row{
	justify-content: space-around;
}
div{
	margin-bottom: 2%;
}


/**** Modals ****/

.modal-container{
	position: relative;
	border-radius: 0.35rem; 
	border: 1px solid #1cc88a !important;
	display: none;
}

.modal-form{
	padding: 5px;
}

.modal-form input, 
.modal-form select,
.modal-form textarea{
	border: 1px solid #1cc88a !important;
}

.icon-close{
	position: absolute;
	right: 1px;
	top: 1px;
}
/* ************* */

